# Applied Quantitative Finance
**Using Python for Financial Analysis**

*Mauricio Garita*

## Chapter 1: Learning to Use Python: The Basic Aspects

#booleans #lists #algebra #loops

### Understanding Numbers in Python
We will use bitcoin-usd data as an example.

In [9]:
import ffn

bitcoin = ffn.get('BTC-USD:Close', start='2021-01-01', end='2021-01-03')
bitcoin.tail()

[*********************100%***********************]  1 of 1 completed

             btcusdclose
Date
2021-01-01  29374.152344
2021-01-02  32127.267578

Numbers in Python can be:
- Integers
- Floats
- Complex

We want to test what numbers are in the `bitcoin` variable.

In [10]:
type(bitcoin)

pandas.core.frame.DataFrame

### What is a List
Lists are one of the most important features in Python because it helps in managing a data frame. Lists can contain any kind of elements and are mutable.

In [11]:
spy = ffn.get('^GSPC:Close', start='2021-01-01', end='2021-02-01')
dia = ffn.get('^DJI:Close', start='2021-01-01', end='2021-02-1')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [12]:
spy

              gspcclose
Date
2021-01-04  3700.649902
2021-01-05  3726.860107
2021-01-06  3748.139893
2021-01-07  3803.790039
2021-01-08  3824.679932
2021-01-11  3799.610107
2021-01-12  3801.189941
2021-01-13  3809.840088
2021-01-14  3795.540039
2021-01-15  3768.250000
2021-01-19  3798.909912
2021-01-20  3851.850098
2021-01-21  3853.070068
2021-01-22  3841.469971
2021-01-25  3855.360107
2021-01-26  3849.620117
2021-01-27  3750.770020
2021-01-28  3787.379883
2021-01-29  3714.239990

In [13]:
dia

                djiclose
Date
2021-01-04  30223.890625
2021-01-05  30391.599609
2021-01-06  30829.400391
2021-01-07  31041.130859
2021-01-08  31097.970703
2021-01-11  31008.689453
2021-01-12  31068.689453
2021-01-13  31060.470703
2021-01-14  30991.519531
2021-01-15  30814.259766
2021-01-19  30930.519531
2021-01-20  31188.380859
2021-01-21  31176.009766
2021-01-22  30996.980469
2021-01-25  30960.000000
2021-01-26  30937.039062
2021-01-27  30303.169922
2021-01-28  30603.359375
2021-01-29  29982.619141

In [14]:
list = [spy[18:], dia[18:]]
list

[             gspcclose
 Date
 2021-01-29  3714.23999,
                 djiclose
 Date
 2021-01-29  29982.619141]

In [15]:
# Measuring a List
len(spy)

19

### From List to Matrices
To *nest* a list is to arrange data into a matrix. This is an easy procedure because of the capacity that Python has for modifying data.

In [16]:
lista_1 = [1, 2, 3]
lista_2 = [4, 5, 6]
lista_3 = [7, 8, 9]

matrix = [lista_1, lista_2, lista_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]